.img-homepage{
        &:after{
           content: '';
           position:absolute;
           width: 100%;
           height: 100%;
           background-color: #fff;
           top: 0;
           left: 0;
           opacity: 1;
        }
    
    }

    .img-home{
        &:after{
           content: '';
           position:absolute;
           width: 100%;
           height: 100%;
           background-color: #fff;
           top: 0;
           right: 0;
           opacity: 1;
        }
    
    }

.navlinks.active{
  color: black;
  text-decoration: underline;
  transition: ease;
}